<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">

      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Explore IoT</a>
      </li>

      <li>
        <a href="http://imaginen4tion.blogspot.com/"><span class="glyphicon glyphicon-sunglasses"></span> ImagineN4tion Blog</a>
      </li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://mattsko.files.wordpress.com/2012/01/bang-bang-gif.gif"><span class="glyphicon glyphicon-thumbs-up"></span> For a good time...</a>
      </li>
    </ul>
  </div>
</nav>
